@font-face {
    font-family: 'Roboto';
    src: url('./font-family/Roboto/Roboto-Regular.ttf') format('truetype');  
       font-weight: normal;
       font-style: normal;
       src: url('path-to-your-fonts/Roboto-Regular.ttf') format('truetype'),
            url('path-to-your-fonts/Roboto-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.wrapper {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}
.site-header {
    padding: 15px 0;
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: background-color .3s ease-out;  
    z-index: 1000;
}

.hero {
    background-color: #1F2937;
}

.hero .title h1 {      
    line-height: 1;
    margin-top: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.hero button:hover {
    background-color: #4ea6f9; 
    color:#1F2937;
    font-weight: bold;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;    
}

.logo {
    float: left;
    font-size: 24px;
    color: #F9FAF8;
}
.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-header nav {
    float: right;
}

.site-header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.site-header nav ul li:last-child {
    margin-right: 0;
}

.site-header nav ul.secondary li a:hover {
    color: orange;
}

.hero .title h1,
.hero .title .description,
.hero .title button {
    margin-bottom: 6px;
}

.hero .title .description{
    margin-top: 0px;
}
.constraints {
    margin: 0 75px;
}

@media (max-width: 800px) {
    .site-header .wrapper {
        padding: 10px 0px; 
    }

    .site-header .constraints {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo, nav {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }

    nav ul li {
        font-size: 12px;
        display: inline;
        margin-right: 5px;
    }

    .hero .title h1 {
        font-size: 35px;
    }

    .hero .title .description,
    .hero .title button {
        font-size: 15px;
    }

    .hero button {
        padding: 6px 10px;
    }

    .constraints {
        margin: 0 5px;
    }
}

@media (max-width: 1024px) {
    nav ul li a {
        font-size: 15px; 
    }
}
.container {
    padding: 80px 30px;
    display: flex;  
    justify-content: space-around;
    align-items: start;
    margin-top: 30px;
}

.container-item-left {
    width: 40%;
    text-align: left;    
}

.container-item-right {
    width: 45%;
    padding-top: 30px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 140px 20px 60px;
        margin-top: 110px;
    }

    .container-item-left,
    .container-item-right {
        width: 100%;
        text-align: center;
    }

    .container-item-right {
        padding-top: 10px;
    }
}
