@import url(./styles.css);


html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #191a2b;
  flex-direction: column; 
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1F2937; /* hero footer */
  color: #E5E7EB; 
  padding: 20px 0; 
  text-align: center;
}
  .service-wrapper {
    width: 80%;
  }
  
  h1{
    color: #f9faf8;
    font-size: 4rem;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;

    background-color: rgb(10, 86, 136);
    background: linear-gradient(8deg,rgb(76, 171, 171) 0%,rgb(255, 255, 255) 41%,rgba(41,17,45,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;

}
h1:after{
    content:"";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.05);
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #f4f4f4;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 90%;
    }    
}
  .cards {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    background-color: #f0f0f0;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(82, 77, 77, 0.1);
    text-align: center;
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
  }
  
  .card i {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 768px) {
    .service-wrapper {
        width: 90%;
    }

    .cards {
        flex-wrap: wrap; 
    }

    .card {
        flex-basis: calc(50% - 20px); 
    }
}

@media only screen and (max-width: 480px) {
    .card {
        flex-basis: calc(100% - 20px); 
    }
}
