/*Adding css for header and hero sectio*/
@import url(./hero.css);


/*hero finish here*/

.ultramega-inspiring {
    background-color: #e5e7eb;
    padding: 5% 10%;
}
.ultramega-inspiring p {
    display: flex;
    flex-direction: column;
}
.ultramega-inspiring h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}
.ultramega-inspiring .author-name-text{
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}
@media screen and (max-width: 768px) {
    .ultramega-inspiring h3 {
        font-size: 28px; 
    }

    .ultramega-inspiring .author-name-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .ultramega-inspiring h3 {
        font-size: 24px; 
    }

    .ultramega-inspiring .author-name-text {
        font-size: 18px; 
    }
}
.sign-up-container {
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    margin: 5% 8%;
    color: white;
    display: flex;
    border-radius: 5px;
    
}
.sign-up-container div{
    display: flex;
    justify-content:  center;
    flex-direction: column;
    padding: 40px;
    margin-left: auto;
}
.sign-up-container div h4 {
    color: #E5E7EB ;
    font-size: 16px;
    font-weight: 400;
    margin: 0
}
.sign-up-container div h3{
    margin: 0;
}
.sign-up-container .sign-up-button {
    border: 2px solid white;
    width: 160px;
    margin: auto;
}
.sign-up-button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.sign-up-button:hover {
    background-color: #4ea6f9; 
    color:#1F2937;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .sign-up-container {
        margin: 5% 2%;
    }

    .sign-up-container div {
        width: 70%;
        padding: 20px; 
    }

    .sign-up-container div h4 {
        font-size: 14px;
    }

    .sign-up-container div h3 {
        font-size: 18px; 
    }

    .sign-up-container .sign-up-button {
        width: 74px;
    }
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .horizontal-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

footer .horizontal-box small {
    margin-right: 20px;
}

footer .copyright-text {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    footer .horizontal-box small {
        font-size: 20px; 
    }
}
/* Log in */

.login-body {
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/cars/car.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-anchor {
    text-decoration: none;
    color: #E5E7EB;
}
.white-anchor {
    text-decoration: none;
    color: #E5E7EB;
}
.white-anchor:hover {
    color: orange;
}
.site-header-login {
    padding: 15px 0;
    width: 100%;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.form-group a {
    color: #3882F6;
    text-decoration: none;
}

/*Ehsan CSS*/
.boxes {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap; /* Allow flex items to wrap to new line */
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background-color: #ffff;
    padding: 20px; /* Add padding */
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
    width: 100%; 
}

.box {
    flex:1 0 20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.box:last-child {
    margin-right: 0;
}
.box img {
    height: 172.5px;
    width: 172.5px; 
    border: 3px solid rgb(102, 180, 235);
    border-radius: 1rem;
    display: flex;
    margin: auto;
}

.box p {
    text-align: center;

}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Reduce padding on smaller screens */
    }
    .box {
        flex-basis: 100%; /* Set flex-basis to 100% for full width on smaller screens */
    }
}
